<div ng-controller="selectImageCtrl">
	<div class="select-image">
		<div ng-if="!images.length && !loading">Nenhuma imagem</div>
		<div ng-if="!images.length && loading">Carregando imagens...</div>
		<label ng-repeat="image in images">
			<input type="radio" class="selectedImage hidden" value="{{image._id}}">
			<div class="preview">
				<img src="/images/{{image._id}}">
			</div>
		</label>
	</div>
</div>