<link rel="stylesheet" href="/css/upload.css">
<label class="upload" ng-class="upload.state" ng-on-dragenter="upload.event($event).dragenter($event)"
	ng-on-dragover="upload.event($event).dragover($event)" ng-on-dragleave="upload.event($event).dragleave($event)"
	ng-on-drop="upload.event($event).drop($event)" ng-controller="fileUploadCtrl">
	<input type="file" name="file" ng-on-change="upload.change($event)" class="hidden"
		accept="image/jpg,image/jpeg,image/png,image/webp,image/svg+xml" multiple>
	<h2 class="dropTitle" ng-switch on="upload.state">Arraste os arquivos ou clique aqui</h2>
	<div class="dropText">
		Aceitamos os formatos JPG, PNG, WEBP, SVG<br>
		<small>Limite de 5 MB</small>
	</div>
	<div class="files" ng-hide="!upload.files.length">
		<div class="file" ng-repeat="file in upload.files">
			<small class="name">
				<i class="fas fa-file"></i> {{::file.name}}
			</small>
			<small class="type">
				<i class="fas fa-file-alt"></i> {{::file.type}}
			</small>
			<small class="size">
				<i class="fas fa-file-archive"></i> {{::fileSize(file.size)}}
			</small>
			<small class="status" ng-switch="file.status">
				<div class="fas fa-circle-notch fa-spin text-warning" ng-switch-default></div>
				<div class="fas fa-spinner fa-spin" ng-switch-when="uploading"></div>
				<div class="fas fa-check text-success" ng-switch-when="success"></div>
				<div class="fas fa-times text-danger" ng-switch-when="error"></div>
			</small>
			<small class="error" ng-repeat="error in file.errors">
				<i class="fas fa-times"></i> {{::error}}
			</small>
		</div>
	</div>
</label>