.navbar-collapse,
.navbar-nav,
.nav-item,
.nav-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn-floating {
	bottom: 20px;
	right: 20px;
	position: fixed;
	width: auto;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1000px !important;
}

.userSelect:checked + .card {
	background-color: #e9ecef;
	border-color: #0d6efd;
}

.fas, .far, .fab {
	width: 1.5em;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hidden {
	display: none !important;
}

@media (min-width: 768px) {
	.checkOut {
		width: auto;
		left: auto;
		right: 20px;
		bottom: 20px;
	}
	.checkOut button {
		border-radius: 1000px !important;
	}
}

/*============TEMP============*/
.dropArea {
	width: 100%;
	height: 100%;
	border: gray 3px dashed;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 40px;
	background-color: #f3f3f3;
	padding: 30px 30px;
}

.dropArea.success {
	background-color: #ccffd6;
	border-color: #00cc53;
}

.dropArea.error {
	background-color: #ffe5e5;
	border-color: #ff6666;
}

.dropArea .uploadSuccess,
.dropArea .uploadError {
	display: none
}

.dropArea.success .uploadSuccess {
	display: block
}

.dropArea.error .uploadError {
	display: block
}

.dropArea .progress {
	display: none
}

.dropArea.uploading .progress {
	display: flex
}

.dropArea.uploading .dropText {
	display: none;
}

.dropArea.highlight {
	border-color: dodgerblue;
	background-color: #d8ecf3;
}

.dropArea.highlight .dropText {
	display: none;
}

.dropArea.highlight .dropTitle {
	font-size: 50px;
	color: #99b0c3;
}

.hidden {
	display: none !important;
}