<%
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
const action = (locals.admin ? `/admins/edit/${admin.id}` : '/admins/add') + _redir
const { name, email } = locals.admin || locals.userData?.[0] || {}
%>

<div class="container my-4">
	<% if (!locals.admin) { %>
		<h1 class="mb-4"><i class="fas fa-plus"></i> Adicionar administrador</h1>
	<% } else { user = {} %>
		<h1 class="mb-4"><i class="fas fa-pencil-alt"></i> Editar administrador</h1>
	<% } %>

	<form action="<%= action %>" method="POST" name="adminsEdit">
		<label class="form-group d-block">
			<div><i class="fas fa-file-signature"></i> Nome <span class="text-danger">*</span></div>
			<input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off" autofocus required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-at"></i> E-mail <span class="text-danger">*</span></div>
			<input type="email" class="form-control form-control-lg" name="email" value="<%= email %>" autocomplete="off" required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-key"></i> Senha <span class="text-danger">*</span></div>
			<input type="password" class="form-control" name="password" required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2"><i class="fas fa-key"></i> Confirmar senha <span class="text-danger">*</span></div>
			<input type="password" class="form-control" name="confirmpassword" required>
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success" type="submit">
				<i class="fas fa-save"></i> Salvar administrador
			</button>
		</div>
	</form>
</div>

<script src="/js/admin/adminsEdit.js"></script>