<!-- Nenhum pedido -->
<h3 class="text-center text-secondary mt-5" ng-if="!keys(requests | users:env).length">Nenhum pedido</h3>

<!-- Pedidos -->
<div class="store-requests row mx-0 flex-nowrap" style="overflow-x: auto;overflow-y:hidden">

	<!-- Pedido -->
	<div
		class="store-requests-client p-0 col-11 col-md-5 col-lg-4 col-xl-3 my-4 rounded border-top border-5 border-primary overflow-auto"
		ng-repeat="(clientId, reqs) in requests | users:env" style="background-color:var(--bs-gray-200) !important;">

		<!-- CABEÇALHO DO CARD -->
		<div class="px-3 pt-2 mt-2">
			<!-- Preço total e quantidade de produtos -->
			<div class="ms-auto text-end m-0 float-end ps-2">
				<span class="badge bg-success rounded-pill">{{sum(reqs | reqs:env | reqs:'notRejected')}}</span>
				<span class="badge bg-secondary rounded-pill">{{(reqs | reqs:env).length}}</span>
			</div>
			<!-- Nome do cliente -->
			<h4 class="d-inline">{{::reqs[0].clientId.name}}</h4>
		</div>

		<hr>

		<!-- DADOS DO CLIENTE -->
		<div class="px-3 mb-2">
			<!-- Endereço -->
			<div class="row text-decoration-none" ng-if="::reqs[0].clientId.address">
				<a href="https://www.google.com.br/maps/search/{{::reqs[0].clientId.address | url}}" target="_blank"
					class="col-auto mdi mdi-map-marker"></a>
				<span class="col ps-0 text-break">{{::reqs[0].clientId.address}}</span>
			</div>

			<!-- Telefone -->
			<div class="row text-decoration-none" ng-if="::reqs[0].clientId.phone">
				<a href="tel:{{::reqs[0].clientId.phone}}" target="_blank" class="col-auto mdi mdi-phone"></a>
				<span class="col ps-0 text-break">{{::reqs[0].clientId.phone}}</span>
			</div>

			<!-- WhatsApp -->
			<div class="row text-decoration-none" ng-if="::reqs[0].clientId.whatsapp">
				<a href="https://api.whatsapp.com/send?phone={{::reqs[0].clientId.whatsapp}}" target="_blank"
					class="col-auto mdi mdi-whatsapp"></a>
				<span class="col ps-0 text-break">{{::reqs[0].clientId.whatsapp}}</span>
			</div>

			<!-- E-mail -->
			<div class="row text-decoration-none" ng-if="::reqs[0].clientId.email">
				<a href="mailto:{{::reqs[0].clientId.email}}" target="_blank" class="col-auto mdi mdi-email"></a>
				<span class="col ps-0 text-break">{{::reqs[0].clientId.email}}</span>
			</div>
		</div>

		<!-- Ações globais -->
		<div class="my-2 d-flex gap-2 px-3 text-center" ng-show="env === 'pending'">
			<button class="btn btn-outline-success flex-grow-1" ng-click="confirmAll(reqs | reqs:env, 'confirm')"
				title="Confirmar todos">
				<i class="fas fa-check"></i></button>
			<button class="btn btn-outline-danger flex-grow-1" ng-click="confirmAll(reqs | reqs:env, 'reject')"
				title="Rejeitar todos">
				<i class="fas fa-times"></i></button>
			<button class="btn btn-outline-warning flex-grow-1" ng-click="confirmAll(reqs | reqs:env, 'done')"
				title="Fechar todos">
				<i class="fas fa-check-double"></i></button>
			<button class="btn btn-outline-primary flex-grow-1" ng-click="confirmAll(reqs | reqs:env, 'feedback')"
				title="Enviar comentário para todos"><i class="fas fa-comment-alt"></i></button>
		</div>

		<div class="store-requests-client-products">
			<!-- PRODUTO -->
			<div class="store-requests-client-product w-100 row gx-1" ng-repeat="req in reqs | reqs:env">
				<!-- Imagem -->
				<a href="/products/view/{{::req.productId._id}}" target="_blank" class="col-2">
					<div class="ratio ratio-1x1 rounded-circle overflow-hidden">
						<img ng-src="{{::req.productId.image.value}}" ng-if="::req.productId.image.type === 'image.url'"
							style="object-fit: cover;">
						<img ng-src="/images/view/{{::req.productId.image.value}}" ng-if="::req.productId.image.type === 'image.id'"
							style="object-fit: cover;">
						<div class="d-flex align-items-center justify-content-center text-secondary bg-light"
							ng-hide="::req.productId.image">
							<i class="fas fa-2x fa-shopping-basket"></i>
						</div>
					</div>
				</a>

				<!-- Dados do produto -->
				<div class="col ps-2">
					<h6 class="m-0">{{::req.quantity}} × {{::req.productId.name}}</h6>
					<div>{{::req.other}}</div>

					<!-- Avaliações -->
					<div class="rating rating-{{::getRating(req.productId.ratings, reqs[0].clientId._id)}} text-warning"
						data-rating="{{::getRating(req.productId.ratings, reqs[0].clientId._id)}}"
						data-client="{{::req.clientId._id}}" data-product="{{::req.productId._id}}"
						ng-if="::!req.open && env === 'history'">
						<span class="rating-star-1 mdi" ng-click="rate($event, 1)"></span>
						<span class="rating-star-2 mdi" ng-click="rate($event, 2)"></span>
						<span class="rating-star-3 mdi" ng-click="rate($event, 3)"></span>
						<span class="rating-star-4 mdi" ng-click="rate($event, 4)"></span>
						<span class="rating-star-5 mdi" ng-click="rate($event, 5)"></span>
						<span class="rating-star-0 mdi mdi-close-circle-outline text-danger" ng-click="rate($event, 0)"></span>
					</div>

					<!-- Botões de ação -->
					<div class="mt-1" ng-hide="env === 'history'">
						<button class="btn p-0 border border-success text-success"
							ng-class="{'bg-success text-white': req.status === 'confirmed'}" ng-click="confirm(req, 'confirm')"
							ng-disabled="!req.open" title="Confirmar">
							<i class="fas fa-check"></i></button>
						<button class="btn p-0 border border-danger text-danger"
							ng-class="{'bg-danger text-white': req.status === 'rejected'}" ng-click="confirm(req, 'reject')"
							ng-disabled="!req.open" title="Rejeitar">
							<i class="fas fa-times"></i></button>
						<button class="btn p-0 border border-warning text-warning" ng-class="{'bg-warning text-white': !req.open}"
							ng-click="confirm(req, 'done')" ng-disabled="!req.open" title="Fechar pedido">
							<i class="fas fa-check-double"></i></button>
						<button class="btn p-0 border border-primary text-primary"
							ng-class="{'bg-primary text-white': req.feedback}" ng-click="confirm(req, 'feedback')"
							ng-disabled="!req.open" title="Enviar comentário">
							<i class="fas fa-comment-alt"></i></button>
						<button ng-click="confirm(req, 'reset')" style="border:0;background:purple;color:white">R</button>
						<!--TODO: remover no futuro-->
						<button ng-click="confirm(req, 'delete')" style="border:0;background:purple;color:white">D</button>
						<!--TODO: remover no futuro-->
					</div>

					<!-- Cancelar pedido -->
					<div class="mt-2" ng-show="env === 'history' && req.status === 'pending'">
						<button class="btn btn-outline-danger p-1" ng-click="cancel(req, clientId)" title="Cancelar pedido">
							<i class="fas fa-times"></i> Cancelar
						</button>
					</div>
				</div><!-- Fim produto -->

				<!-- Horário e preço total -->
				<div class="col-auto text-end">
					<small class="d-block" title="{{::dayjs(req.date).format('hh:mma DD/MM/YYYY')}}">
						{{::dayjs(req.date).fromNow()}}
					</small>
					<div>
						<span class="badge bg-white rounded-pill">
							R$ {{::req.quantity * req.productId.price | money}}
						</span>
					</div>
				</div>
			</div><!-- Fim produto -->
		</div><!-- Fim produtos -->
	</div><!-- Fim pedido -->
</div><!-- Fim pedidos