<h3 class="text-center text-secondary mt-5" ng-if="!keys(requests | users:env).length">Nenhum pedido</h3>
<div class="row mt-5" ng-repeat="(clientId, reqs) in requests | users:env">
	<div class="col col-12 col-md-6 col-lg-3 p-1">
		<div class="card card-body shadow-sm">
			<h4>
				<i class="fas fa-user"></i>
				{{::reqs[0].clientId.name}}
			</h4>
			<hr>
			<div>
				<i class="fas fa-map-marker-alt"></i>
				<b>Endereço:</b>
				{{::reqs[0].clientId.address}}
			</div>
			<div>
				<i class="fas fa-phone-alt"></i>
				<b>Telefone:</b>
				<a href="tel:{{::reqs[0].clientId.phone}}">
					{{::reqs[0].clientId.phone}}
				</a>
			</div>
			<div>
				<i class="fas fa-at"></i>
				<b>E-mail:</b>
				<a href="mailto:{{::reqs[0].clientId.email}}">
					{{::reqs[0].clientId.email}}
				</a>
			</div>
			<div>
				<i class="fas fa-bullhorn"></i>
				<b>Qtd. de pedidos:</b>
				{{(reqs | reqs:env).length}}
			</div>
			<div class="fs-5">
				<i class="fas fa-dollar-sign"></i>
				<b>Total:</b>
				{{sum(reqs | reqs:env | reqs:'notRejected')}}
			</div>
			<div class="mt-2" ng-if="env !== 'history'">
				<button class="btn btn-outline-success" ng-click="confirmAll(reqs | reqs:env, 'confirm')"
					title="Confirmar todos"><i class="fas fa-check"></i></button>
				<button class="btn btn-outline-danger" ng-click="confirmAll(reqs | reqs:env, 'reject')"
					title="Rejeitar todos"><i class="fas fa-times"></i></button>
				<button class="btn btn-outline-warning" ng-click="confirmAll(reqs | reqs:env, 'done')"
					title="Fechar todos"><i class="fas fa-check-double"></i></button>
				<button class="btn btn-outline-primary" ng-click="confirmAll(reqs | reqs:env, 'feedback')"
					title="Enviar comentário para todos"><i class="fas fa-comment-alt"></i></button>
			</div>
		</div>
	</div>
	<div class="col col-12 col-md-6 col-lg-3 p-1" ng-repeat="req in reqs | reqs:env">
		<div class="card text-white bg-dark overflow-hidden" ng-class="{'border-danger border-5': req.status === 'rejected',
					'border-success border-5': req.status === 'confirmed'}">
			<img src="{{::req.productId.image}}" class="card-img position-absolute requestImg">
			<div class="card-body pt-2" style="z-index:1">
				<small class="momentUpdate d-block text-end" data-time="{{::req.date}}">{{::moment(req.date).fromNow()}}</small>
				<h4 class="card-title">{{::req.quantity}} × {{::req.productId.name}}</h4>
				<div>
					<b><i class="fas fa-dollar-sign"></i></b>
					{{::req.quantity}} × R$ {{::req.productId.price | money}} =
					<b class="fs-5">R$ {{::(req.quantity * req.productId.price) | money}}</b>
				</div>
				<div>
					<b><i class="fas fa-calendar"></i></b>
					{{::moment(req.date).format('hh:mma DD/MM/YYYY')}}
				</div>
				<div>
					<b class="d-block"><i class="fas fa-info-circle"></i> Mais informações:</b>
					{{::req.other || '-----'}}
				</div>
				<div ng-if="env === 'history'" ng-switch="req.status">
					<b><i class="fas fa-info-circle"></i> Status:</b>
					<span ng-switch-when="pending">Pendente</span>
					<span ng-switch-when="confirmed">Confirmado</span>
					<span ng-switch-when="rejected">Rejeitado</span>
					<span ng-if="!req.open">(fechado)</span>
				</div>
				<div ng-if="env === 'history' && req.feedback">
					<b class="d-block"><i class="fas fa-comment-alt"></i> Feedback:</b>
					<i>{{req.feedback}}</i>
				</div>

				<div class="mt-2" ng-if="env !== 'history'">
					<button class="btn border border-success text-white" ng-class="{'bg-success': req.status === 'confirmed'}"
						ng-click="confirm(req, 'confirm')" ng-disabled="!req.open" title="Confirmar">
						<i class="fas fa-check"></i></button>
					<button class="btn border border-danger text-white" ng-class="{'bg-danger': req.status === 'rejected'}"
						ng-click="confirm(req, 'reject')" ng-disabled="!req.open" title="Rejeitar">
						<i class="fas fa-times"></i></button>
					<button class="btn border border-warning text-white" ng-class="{'bg-warning': !req.open}"
						ng-click="confirm(req, 'done')" ng-disabled="!req.open" title="Fechar pedido">
						<i class="fas fa-check-double"></i></button>
					<button class="btn border border-primary text-white" ng-class="{'bg-primary': req.feedback}"
						ng-click="confirm(req, 'feedback')" ng-disabled="!req.open" title="Enviar comentário">
						<i class="fas fa-comment-alt"></i></button>
					<button ng-click="confirm(req, 'reset')">R</button>
					<!--TODO: remover no futuro-->
				</div>

				<div class="mt-2" ng-if="env === 'history'">
					<button class="btn border border-danger text-white" ng-click="cancel(req, clientId)"
						ng-if="req.status === 'pending'" title="Cancelar pedido">
						<i class="fas fa-times"></i> Cancelar pedido</button>
				</div>
			</div>
		</div>
	</div>
</div>