<!-- Nenhum produto -->
<h3 class="text-center text-secondary mt-5" ng-if="!keys(requests | users:env).length">Nenhum pedido</h3>

<!-- Pedidos -->
<div class="row mx-0 gap-2 flex-nowrap overflow-auto store-requests">

	<!-- Pedido -->
	<div class="p-0 col-11 col-md-5 col-lg-4 col-xl-3 mt-4 rounded border-top border-5 border-primary store-requests-client"
		ng-repeat="(clientId, reqs) in requests | users:env"
		style="height: fit-content; background-color:var(--bs-gray-200) !important;">

		<!-- CABEÇALHO DO CARD -->
		<div class="px-3 pt-2 mt-2">
			<!-- Preço total e quantidade de produtos -->
			<div class="ms-auto text-end m-0 float-end ps-2">
				<span class="badge bg-success rounded-pill">{{sum(reqs | reqs:env | reqs:'notRejected')}}</span>
				<span class="badge bg-secondary rounded-pill">{{(reqs | reqs:env).length}}</span>
			</div>
			<!-- Nome do cliente -->
			<h4 class="d-inline">{{::reqs[0].clientId.name}}</h4>
		</div>

		<hr>

		<!-- DADOS DO CLIENTE -->
		<div class="px-3 mb-2">
			<!-- Endereço -->
			<a href="https://www.google.com.br/maps/search/{{::reqs[0].clientId.address | url}}" target="_blank"
				class="row text-decoration-none text-dark" ng-if="::reqs[0].clientId.address">
				<div class="col-auto text-primary mdi mdi-map-marker"></div>
				<div class="col ps-0 text-break">{{::reqs[0].clientId.address}}</div>
			</a>

			<!-- Telefone -->
			<a href="tel:{{::reqs[0].clientId.phone}}" target="_blank" class="row text-decoration-none text-dark"
				ng-if="::reqs[0].clientId.phone">
				<div class="col-auto text-primary mdi mdi-phone"></div>
				<div class="col ps-0 text-break">{{::reqs[0].clientId.phone}}</div>
			</a>

			<!-- WhatsApp -->
			<a href="https://api.whatsapp.com/send?phone={{::reqs[0].clientId.whatsapp}}" target="_blank"
				class="row text-decoration-none text-dark" ng-if="::reqs[0].clientId.whatsapp">
				<div class="col-auto text-primary mdi mdi-whatsapp"></div>
				<div class="col ps-0 text-break">{{::reqs[0].clientId.whatsapp}}</div>
			</a>

			<!-- E-mail -->
			<a href="mailto:{{::reqs[0].clientId.email}}" target="_blank" class="row text-decoration-none text-dark"
				ng-if="::reqs[0].clientId.email">
				<div class="col-auto text-primary mdi mdi-email"></div>
				<div class="col ps-0 text-break">{{::reqs[0].clientId.email}}</div>
			</a>
		</div>

		<!-- Ações globais -->
		<!-- <div class="mt-2 text-center" ng-if="env === 'pending'">
			<button class="btn btn-outline-success" ng-click="confirmAll(reqs | reqs:env, 'confirm')" title="Confirmar todos">
				<i class="fas fa-check"></i></button>
			<button class="btn btn-outline-danger" ng-click="confirmAll(reqs | reqs:env, 'reject')" title="Rejeitar todos">
				<i class="fas fa-times"></i></button>
			<button class="btn btn-outline-warning" ng-click="confirmAll(reqs | reqs:env, 'done')" title="Fechar todos">
				<i class="fas fa-check-double"></i></button>
			<button class="btn btn-outline-primary" ng-click="confirmAll(reqs | reqs:env, 'feedback')"
				title="Enviar comentário para todos"><i class="fas fa-comment-alt"></i></button>
		</div> -->

		<!-- PRODUTO -->
		<div class="row gx-1 p-2" ng-repeat="req in reqs | reqs:env">
			<!-- Imagem -->
			<a href="/products/view/{{::req.productId._id}}" target="_blank" class="col-2">
				<div class="ratio ratio-1x1 rounded-circle overflow-hidden">
					<img src="{{::req.productId.image}}" ng-if="::req.productId.image" style="object-fit: cover;">
					<div class="d-flex align-items-center justify-content-center text-secondary bg-light" ng-if="::!req.productId.image">
						<i class="fas fa-2x fa-shopping-basket"></i>
					</div>
				</div>
			</a>

			<!-- Dados do produto -->
			<div class="col ps-2">
				<h6 class="m-0">{{::req.quantity}} × {{::req.productId.name}}</h6>
				<div>{{::req.other}}</div>

				<!-- Botões de ação -->
				<div class="mt-1" ng-if="env !== 'history'">
					<button class="btn p-0 border border-success text-success"
						ng-class="{'bg-success text-white': req.status === 'confirmed'}" ng-click="confirm(req, 'confirm')"
						ng-disabled="!req.open" title="Confirmar">
						<i class="fas fa-check"></i></button>
					<button class="btn p-0 border border-danger text-danger"
						ng-class="{'bg-danger text-white': req.status === 'rejected'}" ng-click="confirm(req, 'reject')"
						ng-disabled="!req.open" title="Rejeitar">
						<i class="fas fa-times"></i></button>
					<button class="btn p-0 border border-warning text-warning" ng-class="{'bg-warning text-white': !req.open}"
						ng-click="confirm(req, 'done')" ng-disabled="!req.open" title="Fechar pedido">
						<i class="fas fa-check-double"></i></button>
					<button class="btn p-0 border border-primary text-primary" ng-class="{'bg-primary text-white': req.feedback}"
						ng-click="confirm(req, 'feedback')" ng-disabled="!req.open" title="Enviar comentário">
						<i class="fas fa-comment-alt"></i></button>
					<button ng-click="confirm(req, 'reset')" style="border:0;background:purple;color:white">R</button>
					<!--TODO: remover no futuro-->


				</div>
			</div>

			<!-- Horário e preço total -->
			<div class="col-auto text-end">
				<small class="d-block" title="{{::moment(req.date).format('hh:mma DD/MM/YYYY')}}">
					{{::moment(req.date).fromNow()}}
				</small>
				<div>
					<span class="badge bg-white rounded-pill">
						R$ {{::req.quantity * req.productId.price | money}}
					</span>
				</div>
			</div>
		</div>

		<!-- <div class="request" ng-repeat="req in reqs | reqs:env">
			<div class="card text-white bg-dark overflow-hidden" ng-class="{'border-danger border-5': req.status === 'rejected',
								'border-success border-5': req.status === 'confirmed'}">
				<img src="{{::req.productId.image}}" class="card-img position-absolute requestImg">
				<div class="card-body pt-2" style="z-index:1">
					<small class="momentUpdate d-block text-end"
						data-time="{{::req.date}}">{{::moment(req.date).fromNow()}}</small>
					<h4 class="card-title">{{::req.quantity}} × {{::req.productId.name}}</h4>
					<div>
						<b><i class="fas fa-dollar-sign"></i></b>
						{{::req.quantity}} × R$ {{::req.productId.price | money}} =
						<b class="fs-5">R$ {{::(req.quantity * req.productId.price) | money}}</b>
					</div>
					<div>
						<b><i class="fas fa-calendar"></i></b>
						{{::moment(req.date).format('hh:mma DD/MM/YYYY')}}
					</div>
					<div>
						<b class="d-block"><i class="fas fa-info-circle"></i> Mais informações:</b>
						{{::req.other || '-----'}}
					</div>
					<div ng-if="env === 'history'" ng-switch="req.status">
						<b><i class="fas fa-info-circle"></i> Status:</b>
						<span ng-switch-when="pending">Pendente</span>
						<span ng-switch-when="confirmed">Confirmado</span>
						<span ng-switch-when="rejected">Rejeitado</span>
						<span ng-if="!req.open">(fechado)</span>
					</div>
					<div ng-if="env === 'history' && req.feedback">
						<b class="d-block"><i class="fas fa-comment-alt"></i> Comentário:</b>
						<i>{{req.feedback}}</i>
					</div>

					<div class="mt-2" ng-if="env !== 'history'">
						<button class="btn border border-success text-white" ng-class="{'bg-success': req.status === 'confirmed'}"
							ng-click="confirm(req, 'confirm')" ng-disabled="!req.open" title="Confirmar">
							<i class="fas fa-check"></i></button>
						<button class="btn border border-danger text-white" ng-class="{'bg-danger': req.status === 'rejected'}"
							ng-click="confirm(req, 'reject')" ng-disabled="!req.open" title="Rejeitar">
							<i class="fas fa-times"></i></button>
						<button class="btn border border-warning text-white" ng-class="{'bg-warning': !req.open}"
							ng-click="confirm(req, 'done')" ng-disabled="!req.open" title="Fechar pedido">
							<i class="fas fa-check-double"></i></button>
						<button class="btn border border-primary text-white" ng-class="{'bg-primary': req.feedback}"
							ng-click="confirm(req, 'feedback')" ng-disabled="!req.open" title="Enviar comentário">
							<i class="fas fa-comment-alt"></i></button>
						<button ng-click="confirm(req, 'reset')">R</button>
						TODO: remover no futuro
					</div>

					<div class="mt-2" ng-if="env === 'history' && req.status === 'pending'">
						<button class="btn border border-danger text-white" ng-click="cancel(req, clientId)"
							title="Cancelar pedido"><i class="fas fa-times"></i> Cancelar pedido</button>
					</div>

					<div class="mt-3" ng-if="env === 'history' && req.status === 'confirmed' && !req.open">
						<i class="d-block mb-2 text-white">Avalie este produto:</i>
						<i class="far fa-lg fa-star" ng-class="{fas:req.rating>=1}" ng-click="rt(req, 1)"></i>
						<i class="far fa-lg fa-star" ng-class="{fas:req.rating>=2}" ng-click="rt(req, 2)"></i>
						<i class="far fa-lg fa-star" ng-class="{fas:req.rating>=3}" ng-click="rt(req, 3)"></i>
						<i class="far fa-lg fa-star" ng-class="{fas:req.rating>=4}" ng-click="rt(req, 4)"></i>
						<i class="far fa-lg fa-star" ng-class="{fas:req.rating>=5}" ng-click="rt(req, 5)"></i>
						<i class="fas fa-lg fa-times text-white ms-3" ng-if="req.rating > 0" ng-click="rt(req, 0)"></i>
					</div> -->
	</div><!-- Fim pedido -->
</div><!-- Fim pedidos -->