<div class="container my-4">
	<h1><i class="fas fa-dollar-sign"></i> Comprar</h1>

	<form action="/buy/<%= product.id %>" method="POST" name="buy">
		<div class="row">
			<%- include('../partials/_product.ejs', {product, env: 'buy'}) %>

			<div class="row col col-12 col-md-8 col-lg-9 mt-5">
				<h3>Comprar como:</h3>
				<% users.forEach((user, i) => { %>
					<%- include('../partials/_user.ejs', {user, i, env: 'buy'}) %>
				<% }) %>

				<label class="form-group d-block mt-3">
					<div>Observações:</div>
					<textarea class="form-control" name="other" placeholder="Mais alguma informação?"><%= locals.other %></textarea>
				</label>

				<div class="text-center mt-3">
					<button class="btn btn-lg btn-success mx-auto" type="submit">
						<i class="fas fa-dollar-sign"></i> Finalizar compra
					</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	$('.quantity').on('keyup change', function () {
		const price = parseFloat($(this).closest('.product').data('price'))
		const quantity = $(this).val()
		const total = quantity * price
		$(this).closest('.product').find('.total').text(total.toLocaleString(undefined, { minimumFractionDigits: 2 }))
	})

	document.buy.onsubmit = function (e) {
		e.preventDefault()
		Swal.fire({
			title: 'Finalizar compra',
			text: 'Tem certeza que deseja finalizar esta compra?', //todo: mostrar resumo
			showDenyButton: true,
			showCancelButton: false,
			confirmButtonText: 'Sim',
			denyButtonText: 'Não'
		}).then(r => {
			if (!r.isConfirmed) return
			this.submit()
		})
	}
</script>
<script src="/js/angular.min.js"></script>
<script>
	angular.module('store', []).controller('storeCtrl', ['$scope', ($scope) => {
		$scope.products = {}
		$scope.inc = e => $scope.products[e] = ++$scope.products[e] || 1
		$scope.dec = e => $scope.products[e] = --$scope.products[e] || 1
	}])
</script>