<div class="container my-4" ng-controller="historyCtrl">
	<h1 class="mb-4"><i class="fas fa-history"></i> Histórico de compras</h1>
	<ng-include src="'/pages/request.html'" ng-init="env='history'" ng-if="true"></ng-include>
</div>

<script>const serverData = <%- JSON.stringify(myRequests) %></script>
<script src="/js/history.js"></script>