<%
me = (user && user.name) ? ' ' + user.name : ''
%>

<div class="bg-light py-5">
	<div class="container">
		<h1 class="display-4">Bem-vindo(a)<%= me %>!</h1>
	</div>
</div>

<div class="container my-5">

	<h1>Nossos produtos</h1>
	<div class="row">
		<% products.forEach(product => { %>
			<%- include('../partials/_product.ejs', {product}) %>
		<% }) %>
	</div>
</div>

<script>
	$('.addToCart').click(function () {
		const productID = $(this).data('product')
		cart({ add: productID })
		toast('O item foi adicionado ao carrinho', 'success', 'cart-plus')
		$(this).toggleClass('hidden')
		$(this).next().toggleClass('hidden')
	})

	$('.removeFromCart').click(function () {
		const productID = $(this).data('product')
		cart({ remove: productID })
		toast('O item foi removido do carrinho', 'warning', 'cart-arrow-down')
		$(this).toggleClass('hidden')
		$(this).prev().toggleClass('hidden')
	})
</script>