<div class="bg-light py-5">
	<div class="container">
		<h1 class="display-4">Bem-vindo(a)!</h1>
	</div>
</div>

<div class="container my-5">
	<div class="row">
		<% products.forEach(product => { %>
			<%- include('../partials/_product.ejs', {product, env: 'view'}) %>
		<% }) %>
	</div>
</div>

<%- contentFor('script') %>
<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/home.js"></script>