<div class="welcome">
	<div>
		<h1>Bem-vindo(a)!</h1>
	</div>
</div>

<div class="products">
	<div>
		<% products.forEach(product => { %>
			<%- include('../partials/_product.ejs', {product, env: 'view'}) %>
		<% }) %>
	</div>
</div>

<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/home.js"></script>