<% const email = locals.userData?.[0]?.email %>

<div class="container my-4">
	<h1 class="mb-4"><i class="fas fa-sign-in-alt"></i> Login</h1>
	<form action="/login" method="POST">
		<label class="form-group d-block">
			<div>E-mail <span class="text-danger">*</span></div>
			<input type="email" class="form-control" name="email" value="<%= email %>" autocomplete="off" autofocus required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Senha <span class="text-danger">*</span></div>
			<input type="password" class="form-control" name="password" autocomplete="off" required>
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success mx-auto" type="submit">
				<i class="fas fa-sign-in-alt"></i> Entrar
			</button>
		</div>
	</form>
</div>