<%
const email = locals.userData?.[0]?.email
const _redir = query.r ? `?r=${encodeURIComponent(query.r)}` : ''
%>

<div class="login">
	<h1><i class="fas fa-sign-in-alt"></i> Login</h1>
	<form action="/login<%=_redir%>" method="POST">
		<input type="email" name="email" placeholder="E-mail" value="<%= email %>" autocomplete="off" autofocus required style="margin-bottom:-1px;position:relative">
		<input type="password" name="password" placeholder="Senha" autocomplete="off" required>

		<div class="send">
			<button type="submit">
				<i class="fas fa-sign-in-alt"></i> Entrar
			</button>
		</div>
	</form>
</div>