<%
requests = requests.reverse().reduce((a, b) => {
	a[b.clientId._id] = a[b.clientId._id] || []
	a[b.clientId._id].push(b)
	return a
}, {})
%>
<div class="mt-4" ng-controller="requestsCtrl">
	<div class="container">
		<h1 class="mb-4"><i class="fas fa-bullhorn"></i> Pedidos</h1>
	
		<ul class="nav nav-pills justify-content-centerrrrrr flex-nowrap overflow-auto">
			<li class="nav-item text-nowrap">
				<button class="nav-link border border-primary me-3 active" data-bs-toggle="tab" data-bs-target="#pending">
					<i class="fas fa-clock"></i> Pendentes
				</button>
			</li>
			<li class="nav-item text-nowrap">
				<button class="nav-link border border-primary me-3" data-bs-toggle="tab" data-bs-target="#rejected">
					<i class="fas fa-times"></i> Recusados
				</button>
			</li>
			<li class="nav-item text-nowrap">
				<button class="nav-link border border-primary" data-bs-toggle="tab" data-bs-target="#closed">
					<i class="fas fa-check-double"></i> Fechados
				</button>
			</li>
		</ul>
	</div>

	<div class="tab-content">
		<div class="tab-pane fade show active" id="pending">
			<ng-include src="'/pages/request.html'" ng-init="env='pending'" ng-if="true">
				<div class="text-center mt-4">
					<div class="spinner-border me-3"></div><span class="fs-3">Carregando...</span>
				</div>
			</ng-include>
		</div>

		<div class="tab-pane fade" id="rejected">
			<ng-include src="'/pages/request.html'" ng-init="env='rejected'" ng-if="true">
				<div class="text-center mt-4">
					<div class="spinner-border me-3"></div><span class="fs-3">Carregando...</span>
				</div>
			</ng-include>
		</div>

		<div class="tab-pane fade" id="closed">
			<ng-include src="'/pages/request.html'" ng-init="env='closed'" ng-if="true">
				<div class="text-center mt-4">
					<div class="spinner-border me-3"></div><span class="fs-3">Carregando...</span>
				</div>
			</ng-include>
		</div>
	</div>
</div>

<script src="/socket.io/socket.io.min.js"></script>
<script>const serverData = <%- JSON.stringify(requests) %></script>
<script src="/js/admin/requests.js"></script>
<script src="/js/_animations.js"></script>