<%
if (!'user' in this) var user = {}
const {name, address, phone, email} = user || {}
%>

<div class="container my-4">
	<% if (!user) { %>
		<h1 class="mb-4"><i class="fas fa-plus"></i> Adicionar usuário</h1>
	<% } else { %>
		<h1 class="mb-4"><i class="fas fa-pencil-alt"></i> Editar usuário</h1>
	<% } %>

	<form action="/users/add" method="POST"> <!--todo: atualizar link-->
		<input type="hidden" name="oldId" value="<%#= oldId %>"> <!--todo: verificar isso-->

		<label class="form-group d-block">
			<div>Nome completo <span class="text-danger">*</span></div>
			<input type="text" class="form-control form-control-lg" name="name" value="<%= name %>" autocomplete="off" required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Endereço <span class="text-danger">*</span></div>
			<input type="text" class="form-control" name="address" value="<%= address %>" autocomplete="off" required>
		</label>

		<label class="form-group d-block">
			<div class="mt-2">Telefone</div>
			<input type="tel" class="form-control" name="phone" value="<%= phone %>" autocomplete="off">
		</label>

		<label class="form-group d-block">
			<div class="mt-2">E-mail <span class="text-danger">*</span></div>
			<input type="email" class="form-control" name="email" value="<%= email %>" autocomplete="off" required>
		</label>

		<div class="text-center mt-3">
			<button class="btn btn-lg btn-success" type="submit">
				<i class="fas fa-save"></i> Salvar usuário
			</button>
		</div>
	</form>

</div>