/* .navbar-collapse,
.navbar-nav,
.nav-item,
.nav-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} */

.btn-floating {
	bottom: 20px;
	right: 20px;
	position: fixed;
	width: auto;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1000px !important;
}

.userSelect:checked + .card {
	background-color: #e9ecef;
	border-color: #0d6efd;
}

.fas, .far, .fab {
	width: 1.5em;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hidden {
	display: none !important;
}

.checkOut {
	bottom: 5px;
	left: 10px;
	right: 10px;
}

@media (min-width: 768px) {
	.checkOut {
		width: auto;
		left: auto;
		right: 20px;
		bottom: 20px;
	}
}

.prodBadge {
	border-radius: 0 3px 0 10px;
	text-transform: uppercase;
	z-index: 1;
}

.requestImg {
	filter:brightness(40%);
	-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
	-webkit-mask-image: gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
	mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
	-webkit-mask-image: gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,0)));
}

.navbar-collapse.show {
	overflow: auto;
	max-height: calc(100vh - 56px);
}

.user:not(:first-child) {
	border-top: 1px solid #dee2e6;
	padding-top: 20px;
}