<div class="container my-4">
	<h1 class="mb-5"><i class="fas fa-shopping-bag"></i> Produtos</h1>

	<div class="row">
		<% products.forEach(product => { %>
			<%- include('../../partials/_product.ejs', { product, env: 'edit' }) %>
		<% }) %>

		<div class="col-6 col-md-4 col-lg-3 px-1 py-1">
			<div class="card shadow-sm h-100 bg-light">
				<a href="/products/add" class="btn card-body d-flex flex-column align-items-center justify-content-center">
					<i class="fas fa-plus fa-5x"></i>
					<b class="mt-3 fs-5">Adicionar produto</b>
				</a>
			</div>
		</div>

		<a href="/products/add" class="btn btn-primary btn-lg btn-floating px-2 px-md-3 shadow">
			<i class="fas fa-plus me-md-2"></i>
			<div class="d-none d-md-block">Adicionar</div>
		</a>
	</div>
</div>

<script>
	$('.remove').click(function () {
		Swal.fire({
			title: 'Excluir produto',
			text: 'Tem certeza que deseja excluir este produto?',
			showDenyButton: true,
			showCancelButton: false,
			confirmButtonText: 'Sim',
			denyButtonText: 'Não'
		}).then(r => {
			if (!r.isConfirmed) return
			$this = $(this)
			productId = $this.data('productId')
			location.href = '/products/remove/' + productId
		})
	})
</script>